{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}twitter-tweet change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">Twitter</a> &rsaquo; 
     Tweet
</div>
{% endif %}{% endblock %}

{% block content %}
    <div id="content-main">
        <form action="." method="post" accept-charset="utf-8" id="site_form">
            <fieldset class="module aligned">
                <div class="form-row">
                    <div>
                        <label for="id_tweet" class="required">{{ form.tweet.label }}</label> {{ form.tweet }}
                    </div>
                </div>
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="{% trans 'Tweet' %}" class="default" name="_save" />
            </div>
        </form>
    </div>
{% endblock %}